astroid==2.9.0
aws-shell==0.2.2
awscli==1.22.23
bcrypt==3.2.0
boto3==1.20.23
botocore==1.23.23
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.3
configobj==5.0.6
docutils==0.15.2
Flask==2.0.2
Flask-MySQL==1.5.2
Flask-MySQLdb==0.2.0
idna==3.3
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
mysqlclient==2.1.0
Pillow==8.4.0
platformdirs==2.4.0
prompt-toolkit==1.0.18
pyasn1==0.4.8
pycparser==2.21
Pygments==2.10.0
pylint==2.12.2
PyMySQL==1.0.2
python-dateutil==2.8.2
PyYAML==5.4.1
requests==2.26.0
rsa==4.7.2
s3transfer==0.5.0
six==1.16.0
toml==0.10.2
typing-extensions==4.0.1
urllib3==1.26.7
wcwidth==0.2.5
Werkzeug==2.0.1
wrapt==1.13.3
pandas
numpy

